#slideshowu69
{
	position: relative;
}

#u82
{
	position: absolute;
	background-color: transparent;
}

#u2321,#u2732,#u2741,#u2750,#u2759,#u2768,#u2777,#u2786,#u2795,#u2804,#u2813,#u2822,#u2831,#u2840,#u2849,#u2858,#u2867,#u2876,#u2885,#u2894,#u2903,#u2912,#u2921,#u2930,#u2939,#u2948,#u2957,#u2966,#u2975,#u2984,#u2993,#u3002,#u3011,#u3020,#u3029,#u3038,#u3047,#u3056,#u3065,#u3074,#u3083,#u3092,#u3101,#u3110,#u3119,#u3128,#u3137,#u3146,#u3155,#u3164,#u3173,#u3182,#u3191,#u3200,#u3209,#u3218,#u3227,#u3236,#u3245,#u3254,#u3263,#u3272,#u3281,#u3290,#u3299,#u3308,#u3317,#u3326,#u3335,#u3344,#u3353,#u3362,#u3371,#u3380,#u3389,#u3398,#u3407,#u3416,#u3425,#u3434
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u89-4,#u113-4,#u74-4
{
	position: absolute;
	text-align: center;
	line-height: 20px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

