#slideshowu69
{
	position: relative;
}

#u82
{
	position: absolute;
	background-color: transparent;
}

#u694,#u880,#u889,#u898,#u907,#u916,#u925,#u934,#u943,#u952,#u961,#u970,#u979,#u988,#u997,#u1006,#u1015,#u1024,#u1033,#u1042,#u1051,#u1060,#u1069,#u1078,#u1087,#u1096,#u1105,#u1114,#u1123,#u1132,#u1141,#u1150
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u89-4,#u113-4,#u74-4
{
	position: absolute;
	text-align: center;
	line-height: 20px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

